<header class="navbar">
	<h1 title="Travis Heller">
		<a href="index.html">Travis Heller</a>
	</h1>
	<!-- http://www2.gol.com/users/billp/articlehtml/lines.html -->
	<hr>
		<ul class="nav">
			<!-- make label of the page that we are on bold -->
			<li><a href="index.html#aboutme" title="About Me">About</a></li>
			<li><a href="blog.html" title="Blog">Blog</a></li>
			<li><a href="pictures.html" title="Pictures">Pictures</a></li>
			<li><a href="resume.html" title="Resume">Resume</a></li>
		</ul>
</header>
